body {
	background-color: #89CFF0;
}
#head {
	margin-top: 50px;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	color: purple;
	text-shadow: 1px 1px red;
	font-size: 80px;
}

#heart_image {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 40%;
}